[bumpversion]
current_version = 1.0.0
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize =
	{major}.{minor}.{patch}

[bumpversion:part:release]

[bumpverion:part:build]
values = [0-9A-Za-z-]+

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}

[bumpversion:file:docs/source/conf.py]
search = release = '{current_version}'
replace = release = '{new_version}'

[bumpversion:file:src/ebel_rest/version.py]
search = VERSION = '{current_version}'
replace = VERSION = '{new_version}'